<!--HEAD -->

<%- include('head'); -%>

<!-- BODY -->

<body class="code-snippets-visible">

	<div class="container">

		<%- include('header'); -%>
		<%- include('navbar'); -%>

		<script>
				var espece_list = [];
				var race_list = [];
        </script>

        <%table_list.espece.forEach(function(espece) { %>
            <script>

                var row = { name: "", description: "" };

                row.name = "<%= espece.name %>";
                row.description = "<%= espece.description %>";

                espece_list.push(row);

            </script>
        <% }); %>

        <%table_list.race.forEach(function(race) { %>
            <script>

                var row = { name: "", species: "", dangerosity: "", description: "" };

                row.name = "<%= race.name %>";
                row.species = "<%= race.species %>";
                row.dangerosity = "<%= race.dangerosity %>";
                row.description = "<%= race.description %>";

                race_list.push(row);

            </script>
        <% }); %>

		<div class="docs-section">
			<h1 class="docs-header">Bestiaire</h1>
			<p>
				Que serait un monde sans les espèces qui l'habitent ? Cette page présente les differentes espèces et races 
				intelligentes qui peuplent le monde de Namtar en terme de physique, de dangerosité, de mode de fonctionnement 
				social. Devez-vous prendez la fuite devant un représentant d'Omnia-301 ? Tenter d'arnaquer un Centaurien est-elle
				une bonne idée ? Si vous ne savez pas répondre à ces questions, nous vous recommandons fortement de vous lancer
				dans la lecture de ce bestiaire avant de vous frotter aux Echos de Namtar. 
			</p>
		</div>

		<div id="espece"></div>

	</div>

</body>

<script>

	var espece = document.getElementById('espece');

	for ( i=0 ; i < espece_list.length ; i++ ){

		var htmlString = "";

		htmlString += "<h2 class=\"docs-header\" style=\"float: left; padding-right:12px;\">" + espece_list[i].name + "</h2>";			
		htmlString += "<img src=\"images/bestiary/Expand.png\" id=\"Button_" + espece_list[i].name + " width=\"20\" height=\"20\" onclick=\"MaskExpand(" + espece_list[i].name + ")\";>";
		htmlString += "<div id=\"" + espece_list[i].name + "\" style=\"display: none;\">";
		htmlString += "<br><br>"
		htmlString += "<div><img src=\"images/bestiary/" + espece_list[i].name + "/" + espece_list[i].name + ".png\" width=\"240\" height=\"191\"; style=\"float: left; padding-right:20px; padding-bottom:20px;\"></div>";
		htmlString += "<p>" + espece_list[i].description + "</p>";

			for ( j=0 ; j < race_list.length ; j++ ){
				if(race_list[j].species == espece_list[i].name){
      				htmlString += "<h3 class=\"docs-header\">" + race_list[j].name + "</h3>";
      				htmlString += "<p>" + race_list[j].description + "</p>";
				}
			}

		htmlString += "</div>";
		htmlString += "<br><br>";

		espece.innerHTML += htmlString;

	}

	function MaskExpand(species){

		if(getComputedStyle(species).display != "none"){
			species.style.display = "none";
		} else {
			species.style.display = "block";
		}

	};

</script>
