<!--HEAD -->
<%- include('head'); -%>

<!-- BODY -->

<body class="code-snippets-visible">

  <div class="container">

    <%- include('header'); -%>
    <%- include('navbar'); -%>


    <% 
    characters.forEach(function(pj){
      %>


    <div class="docs-section row" id="<%= pj.name %>">

      <div class="two columns">
        <div class="row">
          <label>Nom</label>
          <p><%= pj.nom %></p>
        </div>
        <div class="row">
          <label>Espèces</label>
          <p><%= pj.espèce %></p>
        </div>
      </div>
      <div class="eight columns">
        <div class="row">
          <label><strong>Bio</strong></label>
          <p><%= pj.bio %></p>
        </div>
      </div>
      <div class="two columns">
        <a class="button" href="/character/sheet?_id=<%= pj._id %>">Ouvrir la fiche</a>
      </div>
    </div>

    <% }); %>

  </div>

</body>