<!--HEAD -->
<%- include('head'); -%>

<!-- BODY -->

<body class="code-snippets-visible">

  <div class="container">

    <%- include('header'); -%>
    <%- include('navbar'); -%>


    <div class="docs-section">
      <h1 class="docs-header">Infos générales</h1>

      <div class="row">
        <label class="two columns">Nom</label>
        <div class="four columns"><%= character.nom %></div>
        
        <label class="two columns">Espèces</label>
        <div class="four columns"><%= character.espèce %></div>
      </div>
      <div class="row">
        <label class="two columns"><strong>Bio</strong></label>
        <p class="ten columns"><%= character.bio %></p>
      </div>

    </div>

    <div class="docs-section">
      <h1 class="docs-header">Caractéristiques</h1>

      <div class="row">
        <% characteristics.forEach(function([name, rank]){ %>
        <h1 class="two columns"><%= rank %></h1>
        <% }); %>
      </div>
      <div class="row">
        <% characteristics.forEach(function([name, rank]){ %>
        <label class="two columns"><%= name %></label>
        <% }); %>
      </div>

    </div>

    <div class="docs-section">
      <h1 class="docs-header">Aptitudes</h1>

      <div class="row">
        <table class="twelve columns">
          <thead>
            <tr>
              <th>Aptitude</th>
              <th>Rang</th>
            </tr>
          </thead>
          <% aptitudes.forEach(function([name, rank]){  %>
          <tbody>
            <tr>
              <td><%= name %></td>
              <td><%= rank %></td>
            </tr>
          </tbody>
          <% }); %>
        </table>
      </div>
    </div>

    <div class=docs-section>
      <h1 class="docs-header">Compétences</h1>
      <table>
          <thead>
              <tr>
                  <th>Nom</th>
                  <th>Type</th>
                  <th>Description</th>
              </tr>
          </thead>
          <tbody>
          <% skills.forEach(function(skill) { %>
              <tr>
                  <td><%= skill.nom %></td>
                  <td><%= skill.type %></td>
                  <td><%= skill.description %></td>
              </tr>
          <% }); %>
          </tbody>
      </table>

  </div>

</body>