<!--HEAD -->
<%- include('head'); -%>

<!-- BODY -->
<script src="http://code.jquery.com/jquery-3.1.0.min.js"></script>

<body class="code-snippets-visible">

    <div class="container">
        <%- include('header'); -%>
        <%- include('navbar'); -%>

        <form action="/character/create" method="POST">
            <fieldset class="docs-section">
                <h1 class="docs-header">Création de personnage</h1>
                <div class="row">
                    <div class="six columns">
                        <label for="name">Nom</label>
                        <input id="name" name="pj_name" class="u-full-width" type="text" required>
                    </div>
                    <div class="six columns">
                        <label for="specie">Espèce</label>
                        <input id="specie" name="pj_species" class="u-full-width" type="text" required>
                    </div>
                </div>
                <div class="row">
                    <label for="biography">Bio</label>
                    <textarea id="biography" name="pj_biography" class="u-full-width" type="text"></textarea>
                </div>
            </fieldset>
            <fieldset class="docs-section">
                <h1 class="docs-header">Caractéristiques</h1>

                <div class="row">
                    <% characteristics.forEach(function(element) {%>
                    <div class="two columns">
                        <label for="<%= element.key %>"><%= element.name %></label>
                        <input id="<%= element.key %>" name="char_<%= element.name %>" type="number" min="1" max="3"  value="2">
                    </div>
                    <%  }); %>
                </div>
            </fieldset>
            <fieldset class="docs-section">
                <h1 class="docs-header">Aptitudes</h1>
                <table>
                    <thead>
                        <tr>
                            <th>Categorie</th>
                            <th>Nom</th>
                            <th>Carac.</th>
                            <th>Description</th>
                            <th>Rang</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% aptitudes.forEach(function(element) { %>
                        <tr>
                            <td><%= element.type %></td>
                            <td><%= element.name %></td>
                            <td><%= element.characteristic %></td>
                            <td><%= element.description %></td>
                            <td><input id="<%= element.name %>" name="apt_<%= element.name %>" type="number" min="0" max="3"  value="0">
                            <td>
                        </tr>
                        <%  }); %>
                    </tbody>
                </table>
            </fieldset>
            
            <input class="button-primary" type="submit" value="Submit">

        </form>

    </div>
</body>