<!--HEAD -->
<%- include('head'); -%>

<!-- BODY -->
<script src="http://code.jquery.com/jquery-3.1.0.min.js"></script>

<body class="code-snippets-visible">

    <div class="container">
        <%- include('header'); -%>
        <%- include('navbar'); -%>

        <form action="/createPJ" method="POST">
            <fieldset class="docs-section">
                <h1 class="docs-header">Création de personnage</h1>
                <div class="row">
                    <div class="six columns">
                        <label for="name">Nom</label>
                        <input class="u-full-width" type="text" name="pj_name" required>
                    </div>
                    <div class="six columns">
                        <label for="specie">Espèce</label>
                        <input class="u-full-width" type="text" name="pj_species" required>
                    </div>
                </div>
                <div class="row">
                    <label for="biography">Bio</label>
                    <textarea class="u-full-width" type="text" name="pj_biography"></textarea>
                </div>
            </fieldset>
            <fieldset class="docs-section">
                <h1 class="docs-header">Caracteristiques</h1>

                <div class="row">
                    <% tables.characteristics.forEach(function(element) {%>
                    <div class="two columns">
                        <label for="<%= element.key %>"><%= element.name %></label>
                        <input type="number" min="0" max="3" name="char_<%= element.name %>" value="2">
                    </div>
                    <%  }); %>
                </div>
            </fieldset>
            <fieldset class="docs-section">
                <h1 class="docs-header">Aptitudes</h1>
                <table>
                    <thead>
                        <tr>
                            <th>Categorie</th>
                            <th>Nom</th>
                            <th>Carac.</th>
                            <th>Description</th>
                            <th>Rang</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% tables.aptitudes.forEach(function(element) { %>
                        <tr>
                            <td><%= element.type %></td>
                            <td><%= element.name %></td>
                            <td><%= element.characteristic_name %></td>
                            <td><%= element.description %></td>
                            <td><input type="number" min="0" max="3" name="apt_<%= element.name %>" value="0">
                            <td>
                        </tr>
                        <%  }); %>
                    </tbody>
                </table>
            </fieldset>

            <input class="button-primary" type="submit" value="Submit">

        </form>

    </div>
</body>