<!--HEAD -->
<%- include('head'); -%>

<!-- BODY -->
<script src="http://code.jquery.com/jquery-3.1.0.min.js"></script>

<body class="code-snippets-visible">

    <div class="container">
        <%- include('header'); -%>
        <%- include('navbar'); -%>

        <h3> Création de personnage</h1>

            <form action="/createPJ" method="POST">
                <div class="docs-section">
                    <h1 class="docs-header">General</h1>
                    <div class="row">
                        <div class="six columns">
                            <label for="name">Nom</label>
                            <input class="u-full-width" type="text" name="name">
                        </div>
                        <div class="six columns">
                            <label for="specie">Espèce</label>
                            <input class="u-full-width" type="text" name="specie">
                        </div>
                    </div>
                    <div class="row">
                        <label for="biography">Bio</label>
                        <textarea class="u-full-width" type="text" name="biography"></textarea>
                    </div>
                </div>
                <div class="docs-section">
                    <h1 class="docs-header">Caracteristiques</h1>

                    <div class="row">
                        <div class="two columns">
                            <label for="vigor">Vigueur</label>
                            <input type="number" min="0" max="3" name="brawn" value="2">
                        </div>
                        <div class="two columns">
                            <label for="agility">Agilité</label>
                            <input type="number" min="0" max="3" name="agility" value="2">
                        </div>
                        <div class="two columns">
                            <label for="intelligence">Intelligence</label>
                            <input type="number" min="0" max="3" name="intellect" value="2">
                        </div>
                        <div class="two columns">
                            <label for="cunning">Ruse</label>
                            <input type="number" min="0" max="3" name="cunning" value="2">
                        </div>
                        <div class="two columns">
                            <label for="will">Volonté</label>
                            <input type="number" min="0" max="3" name="willpower" value="2">
                        </div>
                        <div class="two columns">
                            <label for="presence">Presence</label>
                            <input type="number" min="0" max="3" name="presence" value="2">
                        </div>
                    </div>
                </div>
                <div class="docs-section">
                    <h1 class="docs-header">Aptitudes</h1>
                    <label>Combats</label>
                    <table>
                        <thead>
                            <tr>
                                <th>Nom</th>
                                <th>Carac.</th>
                                <th>Description</th>
                                <th>Rang</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% 
                    aptitudeList.forEach(function(element) {
                      if(element.type=='combat') {%>
                            <tr>
                                <td><%= element.name %></td>
                                <td><%= element.characteristic %></td>
                                <td><%= element.description %></td>
                                <td><input type="number" min="0" max="3" name="<%= element.key %>" value="0">
                                <td>
                            </tr>
                            <% }
                  }); %>
                        </tbody>
                    </table>

                    <table>
                        <label>Utilitaire</label>
                        <thead>
                            <tr>
                                <th>Nom</th>
                                <th>Carac.</th>
                                <th>Description</th>
                                <th>Rang</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% aptitudeList.forEach(function(element) {
                        if(element.type=='utilitaire') {%>
                            <tr>
                                <td><%= element.name %></td>
                                <td><%= element.characteristic %></td>
                                <td><%= element.description %></td>
                                <td><input type="number" min="0" max="3" name="<%= element.key %>" value="0">
                                <td>
                            </tr>
                            <% }
                    }); %>
                        </tbody>
                    </table>

                    <table>
                        <label>Sociale</label>
                        <thead>
                            <tr>
                                <th>Nom</th>
                                <th>Carac.</th>
                                <th>Description</th>
                                <th>Rang</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% aptitudeList.forEach(function(element) {
                        if(element.type=='sociale') {%>
                            <tr>
                                <td><%= element.name %></td>
                                <td><%= element.characteristic %></td>
                                <td><%= element.description %></td>
                                <td><input type="number" min="0" max="3" name="<%= element.key %>" value="0">
                                <td>
                            </tr>
                            <% }
                    }); %>
                        </tbody>
                    </table>
                </div>

                <input class="button-primary" type="submit" value="Submit">

            </form>

    </div>
</body>