<!--HEAD -->
<%- include('head'); -%>

<!-- BODY -->
<script src="http://code.jquery.com/jquery-3.1.0.min.js"></script>

<body class="code-snippets-visible">

  <div class="container">
    <%- include('header'); -%>
    <%- include('navbar'); -%>

    <div class="docs-section">

      <h1 class="docs-header">Tables des especes</h1>

      <table class="u-full-width">
        <thead>
          <tr>
            <th>id</th>
            <th>Nom</th>
            <th>TailleMin</th>
            <th>TailleMin</th>
            <th>Description</th>
            <th>Social</th>
          </tr>
        </thead>
        <tbody>
          <% especes.forEach(function(element) { %>
          <tr>
            <td><%= element.id %></td>
            <td><%= element.name %></td>
            <td><%= element.minSize %></td>
            <td><%= element.maxSize %></td>
            <td><%= element.description %></td>
            <td><%= element.social %></td>
          </tr>
          <% }); %>
        </tbody>
      </table>
      
    </div>
  </div>
</body>