<!--HEAD -->
<%- include('head'); -%>

<!-- BODY -->

<body class="code-snippets-visible">

  <div class="container">

    <%- include('header'); -%>
    <%- include('navbar'); -%>


    <% 
    tables.characters.forEach(function(pj){
      var pj_charac_set = [];
      var pj_apt_set=[];

      tables.characteristics.forEach(function(set){
        if(set.character_id==pj.name){
          pj_charac_set.push(set);
        };
      });

      tables.aptitudes.forEach(function(set){
        if(set.character_id==pj.name){
          pj_apt_set.push(set);
        };
      });
      %>


    <div id="<%= pj.name %>">
			<br>

      <div class="row">
        <div class="four columns">
          <img class="value-img" src="images/pixabay_default_avatar.png" width="230" height="230" ;>
        </div>

        <div class="eight columns">
          <div class="row">
            <label class="two columns">Nom</label>
            <div class="ten columns"><%= pj.name %></div>
          </div>
          <div class="row">
            <label class="two columns">Espèces</label>
            <div class="ten columns"><%= pj.specie %></div>
          </div>
          <div class="row">
            <label class="two columns"><strong>Bio</strong></label>
            <p class="ten columns"><%= pj.biography %></p>
          </div>
        </div>

      </div>
      <div class="row">
        <% pj_charac_set.forEach(function(characteristic){ %>
        <h1 class="two columns"><%= characteristic.rank %></h1>
        <% }); %>
      </div>
      <div class="row">
        <% pj_charac_set.forEach(function(characteristic){ %>
        <label class="two columns"><%= characteristic.characteristic_name %></label>
        <% }); %>
      </div>

      <div class="row">
        <table class="six columns">
          <thead>
            <tr>
              <th>Aptitude</th>
              <th>Carac.</th>
              <th>Rang</th>
            </tr>
          </thead>
          <% pj_apt_set.forEach(function(aptitudes){ 
            if(aptitudes.type=='general'){ %>
          <tbody>
            <tr>
              <td><%= aptitudes.aptitude_name %></td>
              <td><%= aptitudes.characteristic_code %></td>
              <td><%= aptitudes.rank %></td>
            </tr>
          </tbody>
          <% }
         }); %>
        </table>
        <table class="six columns">
          <thead>
            <tr>
              <th>Aptitude</th>
              <th>Carac.</th>
              <th>Rang</th>
            </tr>
          </thead>
          <% pj_apt_set.forEach(function(aptitudes){ 
            if(aptitudes.type=='combat'){ %>
          <tbody>
            <tr>
              <td><%= aptitudes.aptitude_name %></td>
              <td><%= aptitudes.characteristic_code %></td>
              <td><%= aptitudes.rank %></td>
            </tr>
          </tbody>
          <% }
         }); %>
        </table>
      </div>
      <div class="row">
        <table class="six columns">
          <thead>
            <tr>
              <th>Aptitude</th>
              <th>Carac.</th>
              <th>Rang</th>
            </tr>
          </thead>
          <% pj_apt_set.forEach(function(aptitudes){ 
            if(aptitudes.type=='utilitaire'){ %>
          <tbody>
            <tr>
              <td><%= aptitudes.aptitude_name %></td>
              <td><%= aptitudes.characteristic_code %></td>
              <td><%= aptitudes.rank %></td>
            </tr>
          </tbody>
          <% }
         }); %>
        </table>
        <table class="six columns">
          <thead>
            <tr>
              <th>Aptitude</th>
              <th>Carac.</th>
              <th>Rang</th>
            </tr>
          </thead>
          <% pj_apt_set.forEach(function(aptitudes){ 
            if(aptitudes.type=='sociale'){ %>
          <tbody>
            <tr>
              <td><%= aptitudes.aptitude_name %></td>
              <td><%= aptitudes.characteristic_code %></td>
              <td><%= aptitudes.rank %></td>
            </tr>
          </tbody>
          <% }
         }); %>
        </table>
      </div>

    </div>

    <br>
    <br>
    
    <% }); %>

  </div>

</body>