<!--HEAD -->
<%- include('head'); -%>

<!-- BODY -->

<body class="code-snippets-visible">

  <div class="container">

    <%- include('header'); -%>
    <%- include('navbar'); -%>


    <% 
    tables.characters.forEach(function(pj){
      var pj_charac_set = [];
      var pj_apt_set=[];

      tables.characteristics.forEach(function(set){
        if(set.character_id==pj.name){
          pj_charac_set.push(set);
        };
      });

      tables.aptitudes.forEach(function(set){
        if(set.character_id==pj.name){
          pj_apt_set.push(set);
        };
      });
      %>

    <div class="docs-section">
      <div class="row">
        <div class="two columns"><strong>Nom</strong></div>
        <div class="four columns">
          <td><%= pj.name %></td>
        </div>
        <div class="two columns"><strong>Espèce</strong></div>
        <div class="four columns">
          <td><%= pj.specie %></td>
        </div>
      </div>
      <div class="row">
        <div class="two columns"><strong>Bio</strong></div>
        <div class="ten columns">
          <td><%= pj.biography %></td>
        </div>
      </div>

      <div class="row">
        <% pj_charac_set.forEach(function(characteristic){ %>
        <h1 class="two columns"><%= characteristic.rank %></h1>
        <% }); %>
      </div>
      <div class="row">
        <% pj_charac_set.forEach(function(characteristic){ %>
        <label class="two columns"><%= characteristic.characteristic_name %></label>
        <% }); %>
      </div>

      <div class="row">
        <table class="six columns">
          <thead>
            <tr>
              <th>Aptitude</th>
              <th>Carac.</th>
              <th>Rang</th>
            </tr>
          </thead>
          <% pj_apt_set.forEach(function(aptitudes){ 
            if(aptitudes.type=='general'){ %>
          <tbody>
            <tr>
              <td><%= aptitudes.aptitude_name %></td>
              <td><%= aptitudes.characteristic_code %></td>
              <td><%= aptitudes.rank %></td>
            </tr>
          </tbody>
          <% }
         }); %>
        </table>
        <table class="six columns">
          <thead>
            <tr>
              <th>Aptitude</th>
              <th>Carac.</th>
              <th>Rang</th>
            </tr>
          </thead>
          <% pj_apt_set.forEach(function(aptitudes){ 
            if(aptitudes.type=='combat'){ %>
          <tbody>
            <tr>
              <td><%= aptitudes.aptitude_name %></td>
              <td><%= aptitudes.characteristic_code %></td>
              <td><%= aptitudes.rank %></td>
            </tr>
          </tbody>
          <% }
         }); %>
        </table>
      </div>
      <div class="row">
        <table class="six columns">
          <thead>
            <tr>
              <th>Aptitude</th>
              <th>Carac.</th>
              <th>Rang</th>
            </tr>
          </thead>
          <% pj_apt_set.forEach(function(aptitudes){ 
            if(aptitudes.type=='utilitaire'){ %>
          <tbody>
            <tr>
              <td><%= aptitudes.aptitude_name %></td>
              <td><%= aptitudes.characteristic_code %></td>
              <td><%= aptitudes.rank %></td>
            </tr>
          </tbody>
          <% }
         }); %>
        </table>
        <table class="three columns">
          <thead>
            <tr>
              <th>Aptitude</th>
              <th>Carac.</th>
              <th>Rang</th>
            </tr>
          </thead>
          <% pj_apt_set.forEach(function(aptitudes){ 
            if(aptitudes.type=='sociale'){ %>
          <tbody>
            <tr>
              <td><%= aptitudes.aptitude_name %></td>
              <td><%= aptitudes.characteristic_code %></td>
              <td><%= aptitudes.rank %></td>
            </tr>
          </tbody>
          <% }
         }); %>
        </table>
      </div>
      
    </div>
    <% }); %>

  </div>

</body>