<!--HEAD -->
<%- include('head'); -%>

<!-- BODY -->

<body class="code-snippets-visible">

  <div class="container">

    <%- include('header'); -%>
    <%- include('navbar'); -%>




    <div class="docs-section row" >
      <form action="/game/selection" method="post" >
        <label>Game Name : </label>
        <input type="text" name="gameName" id="gameName">
        <button class="button-primary" type="submit">Create New Game</button>
      </form>
    </div>

    <% games.forEach(function(game){%>
    <form action="/game/engine" method="GET">

      <div class="docs-section" id="<%= game.id %>">
      <input name="gameId" value="<%= game.id %>" hidden readonly>
        <div class="row">
          <div class="four columns">
            <p><%= game.name %></p>
          </div>
          <div class="four columns">
            <p><%= game.creation_date %></p>
          </div>
          <div class="four columns">
            <p><%= game.last_modification_date %></p>
          </div>
        </div>

        <div class="row">
          <select class="six columns" id="characterSelector" name="characterId" required>
          <% game.charactersPlaying.forEach( character => { %>
            <option value="<%= character._id %>"><%= character.nom %></option>
          <% }); %>
          </select>
          <input class="button six columns" type="submit" value="Rejoindre la partie" >
        </div>

      </div>
      
    </form>

    <% }); %>
  </div>

</body>