<!--HEAD -->
<%- include('head'); -%>

<!-- BODY -->

<body class="code-snippets-visible">

  <div class="container">

    <%- include('header'); -%>
    <%- include('navbar'); -%>




    <div class="docs-section row" >
      <form action="/game/selection" method="post" >
        <label>Game Name : </label>
        <input type="text" name="gameName" id="gameName">
        <button class="button-primary" type="submit">Create New Game</button>
      </form>
    </div>

    <% games.forEach(function(game){%>

    <div class="docs-section row" id="<%= game.id %>">

      <div class="four columns">
        <p><%= game.name %></p>
      </div>
      <div class="two columns">
        <p><%= game.creation_date %></p>
      </div>
      <div class="two columns">
        <p><%= game.last_modification_date %></p>
      </div>
      <div class="two columns">
        <a class="button" href="/game/engine?_id=<%= game._id %>">Ouvrir la fiche</a>
      </div>
    </div>

    <% }); %>

  </div>

</body>