<!--HEAD -->
<%- include('head'); -%>

    <!-- BODY -->
    <script src="http://code.jquery.com/jquery-3.1.0.min.js"></script>
    <link href="\stylesheets\timeline.css" rel="stylesheet">

    <body class="code-snippets-visible">
        <div class="container">
            
            <%- include('header'); -%>
            <%- include('navbar'); -%>

            <div class="docs-section row">
                <h1 class="docs-header">Game status</h1>
            </div>

            <div class="docs-section row">
                <form action="/game/createState?_id=<%= game._id %>" method="POST">
                    <input id="stateTitle" name="stateTitle" type="text" placeholder="Titre">
                    <button class="button-primary" type="submit">Create Next state</button>
                </form>
            </div>

            <!-- 
            TODO: Trouver une traduction pour "State" 
            TODO: Afficher le nom du character devant le Commentaire
            TODO: Lister les Character impliqué sur la partie Game
            -->  
            <ul id='timeline'>
                <% states.forEach(function(state,index) { %>
                    <li class='work'>
                        <input class='radio' id="work-<%= index %>" name='works' type='radio'>
                        <div class="relative">
                            <label for='work-<%= index %>'>
                                <%= state.title %>
                            </label>
                            <span class='date'>
                                <%= state.createdAt %>
                            </span>
                            <span class='circle'></span>
                        </div>
                        <div class='content' id="<%= state.id %>">
                            <p id="<%= state.id %>-content"><%= state.body %></p>
                            <a class="button" href="/game/stateEditor?_id=<%= state.id %>">Editer le State</a>
                            <% state.comments.forEach(function(comment) { 
                                let characterPosting = game.charactersPlaying.find(({ _id }) => _id.toString() === comment.characterPostingId.toString());
                                console.log(characterPosting);  %>
                                <p><strong><%= characterPosting.nom %></strong> : <%= comment.body %></p>
                            <% }); %>
                            <input type="text" class="u-full-width" placeholder="<%= characterPlaying.nom %>, que faite vous ? " name="newComment" />
                            <input type="button" value="Post" name="postComment" character_id="<%= characterPlaying._id %>" character_name="<%= characterPlaying.nom %>" >
                        </div>
                    </li>
                <% }); %>
            </ul>
        </div>

        <script>
            $(document).ready(function () {
                $('input[name=postComment]').click( function (e) {
                    $stateId = $(this).parent().attr('id');
                    $commentBody = $(this).prev().val();
                    $posterId = $(this).attr('character_id');
                    $posterName = $(this).attr('character_name');
                    $.ajax({
                        type: 'POST',
                        url: '/game/comment',
                        data: {commentBody: $commentBody, stateId: $stateId, posterId: $posterId },
                        dataType: 'text',
                        success: function (replyJSON, status) {
                            console.log(replyJSON);
                            var reply = jQuery.parseJSON(replyJSON)
                           //select the last paragraph from the div of concerned states, and add a new paragraph with comment content.
                            $('div#'+$stateId ).children('p:last').after('<p>' + '<strong>' + $posterName + '</strong> : ' + reply.newComment +'</p>');
                        },
                        error: function (replyJSON, status) {
                            alert('Something went wrong ... Code ' + status);
                        }
                    });
                });
            });

        </script>

    </body>