<!--HEAD -->
<%- include('head'); -%>

    <!-- BODY -->
    <script src="http://code.jquery.com/jquery-3.1.0.min.js"></script>
    <link href="\stylesheets\timeline.css" rel="stylesheet">

    <body class="code-snippets-visible">
        <div class="container">
            
            <%- include('header'); -%>
            <%- include('navbar'); -%>

            <div class="docs-section row">
                <h1 class="docs-header">Game status</h1>
            </div>

            <div class="docs-section row">
                <form action="/game/owner/createState?_id=<%= game._id %>" method="POST">
                    <input id="stateTitle" name="stateTitle" type="text" placeholder="Titre">
                    <button class="button-primary" type="submit">Create Next state</button>
                </form>
            </div>

            <div class="docs-section row">
                <div class="six columns">
                    <label>Aventuriers :</label>
                </div>
                <div class="six columns">
                    <p>
                    <% game.charactersPlaying.forEach(function(character) {  %>
                        <strong><%= character.nom %></strong><br>
                    <% }); %>
                    </p>
                </div>
            </div>

            <ul id='timeline'>
                <% states.forEach(function(state,index) { %>
                    <li class='work'>
                        <input class='radio' id="work-<%= index %>" name='works' type='radio'>
                        <div class="relative">
                            <label for='work-<%= index %>'>
                                <%= state.title %>
                            </label>
                            <span class='date'>
                                <%= state.createdAt %>
                            </span>
                            <span class='circle'></span>
                        </div>
                        <div class='content' id="<%= state.id %>">
                            <p id="<%= state.id %>-content"><%= state.body %></p>
                            <a class="button" href="/game/owner/stateEditor?_id=<%= state.id %>">Editer le State</a>
                            <% state.comments.forEach(function(comment) { 
                                let characterPosting = game.charactersPlaying.find(({ _id }) => _id.toString() === comment.characterPostingId.toString());
                                console.log(characterPosting);  %>
                                <p><strong><%= characterPosting.nom %></strong> : <%= comment.body %></p>
                            <% }); %>
                        </div>
                    </li>
                <% }); %>
            </ul>
        </div>
    </body>