<!--HEAD -->
<%- include('head'); -%>

    <!-- BODY -->
    <script src="http://code.jquery.com/jquery-3.1.0.min.js"></script>
    <link href="\stylesheets\timeline.css" rel="stylesheet">

    <body class="code-snippets-visible">
        <div class="container">
            
            <%- include('header'); -%>
            <%- include('navbar'); -%>


            <div class="docs-section row">
                <h1 class="docs-header">Game status</h1>
            </div>

            <div class="docs-section row">
                <form action="game?_id=<%= gameId %>" method="POST">
                    <button class="button-primary" type="submit">Create Next Status</button>
                </form>
            </div>

            <ul id='timeline'>
                <% states.forEach(function(state,index) { %>
                <li class='work'>
                    <input class='radio' id="work<%= index %>" name='works' type='radio' >
                    <div class="relative">
                        <label for='work<%= index %>'><%= state.title %></label>
                        <span class='date'><%= state.createdAt %></span>
                        <span class='circle'></span>
                    </div>
                    <div class='content'>
                        <p><%= state.body %></p>
                    </div>
                </li>
                <% }); %>
            </ul>
        </div>

    </body>