<!--HEAD -->
<%- include('head'); -%>

<!-- BODY -->
<script src="http://code.jquery.com/jquery-3.1.0.min.js"></script>

<body class="code-snippets-visible">

    <div class="container">

        <%- include('header'); -%>
        <%- include('navbar'); -%>

        <script>

            var row = [ "id" , "name", "minSize", "maxSize", "description", "social" ];
            var caracteristics_list = [row];

            var row = [ "gouvernment" ];
            gouvernment_list = [row];

            var row = [ "lvl" ];
            lvl_list = [row];      

        </script>

        <%especes_list.forEach(function(element) { %>
            <script>
                var row = [];
                row.push("<%= element.id %>","<%= element.name %>","<%= element.minSize %>","<%= element.maxSize %>","<%= element.description %>","<%= element.social %>");
                caracteristics_list.push(row);
            </script>
        <% }); %>

        <div class="docs-section">

            <h1 class="docs-header">Générateur de Créatures</h1>        

            <form method="POST" id="generateRandomSpell">
                <!--input type="text" placeholder="Set quote of the day" name="skill" /-->
                <input type="button" value="Generate" onclick="generateRandomSpecies()">
            </form>


            <table class="u-full-width"><thead><tr>

            <tr><td><strong style="float: left; padding-right:10px;">Éspèce:</strong><div id="species_name_section"></div> </strong></tr>
        
            <tr><td><strong style="float: left; padding-right:10px;">Race:</strong> A completer </tr>

            <tr><td><strong style="float: left; padding-right:10px;">Dangerosité:</strong> <div id="species_dangerosity_section"></div> </tr>

            <tr><td><strong style="float: left; padding-right:2px;">Taille</strong><div style="float: left; padding-right:2px;">(m)</div><strong style="float: left; padding-right:10px;">:</strong> <div style="float: left; padding-right:10px;" id="species_size_section" style="float: left; padding-right:8px;"></tr>

            <tr><td><strong style="float: left; padding-right:10px;">Social:</strong> <div id="species_social_section"></div> </tr>

            <tr><td><strong style="float: left; padding-right:10px;">Description:</strong> <div id="species_description_section"></div> </tr>
            

        </div>

    </div>

</body>

<script>

        function generateRandomSpecies() {

            var randomNumber = Math.floor(Math.random() * caracteristics_list.length ) + 1;

            document.getElementById('species_name_section').innerHTML = caracteristics_list[randomNumber][1];

            var min = Math.ceil(caracteristics_list[randomNumber][2]);
            var max = Math.floor(caracteristics_list[randomNumber][3]);

            document.getElementById('species_size_section').innerHTML = (Math.floor(Math.random() * (max - min)) + min)/100;

            document.getElementById('species_social_section').innerHTML = caracteristics_list[randomNumber][5];
            document.getElementById('species_description_section').innerHTML = caracteristics_list[randomNumber][4];

            var randomNumberDangerosity = Math.floor(Math.random() * lvl_list.length ) + 1;

            document.getElementById('species_dangerosity_section').innerHTML = lvl_list[randomNumber][0];

        }

</script>